body, html {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
#map {
    width: 100%;
    height: calc(100% - 70px);
    padding-top: 70px;
}
#menu {
    height: 70px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 2px 2px 50px #ddd;
    box-shadow: 2px 2px 50px #ddd;
    z-index: 9999;
    position: absolute;
    top: 0;
}
.logo {
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
    display: inline-block;
    -webkit-text-stroke: 1px black;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding: 19px 0 9px 0;
    color: #000!important;
    margin-left: 5%;
}

.logo span {
    color: #fff;
    -webkit-text-stroke: 1px black;
}
.daterange-block {
    float: right;
    margin-right: 5%;
    font-family: sans-serif;
}
.daterange-block input {
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    font-family: "Arial";
    border: 2px solid;
}
.btn {
    border: 0;
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 14px 20px;
    cursor: pointer;
}
.btn:hover {
    background: #464646;
}
#load {
    position: fixed;
    top: calc(50% - 45px);
    background: #fff;
    border: 3px solid #b7b7b7;
    padding: 20px;
    width: 200px;
    height: 90px;
    left: calc(50% - 100px);
    z-index: 9999;
    text-align: center;
}
#load div {
    font-size: 18px;
    padding-bottom: 10px;
}
footer {
    position: absolute;
    bottom: 5px;
    z-index: 99999;
    width: 20%;
    left: 40%;
    text-align: center;
    color: #000;
}
footer a {
    color: #2a2929!important;
    text-decoration: none!important;
    font-family: monospace;
    background: #ffffffb5;
    padding: 3px 10px;
    border-radius: 2px;
}

#content {
    padding: 120px 0px 0px 0px;
    width: 800px;
    margin: 0px auto 0px auto;
    position: relative;
}
@media(max-width: 796px) {
    #content {
        width: 98%;
    }
}

input[id^="spoiler"]{
    display: none;
}
input[id^="spoiler"] + label {
    display: block;
    width: 800px;
    margin: 0 auto;
    padding: 5px 0;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .6s;
}
input[id^="spoiler"]:checked + label  {
    color: #333;
    background: #fff;
    border: 2px solid #000;
}
input[id^="spoiler"] ~ .spoiler {
    width: calc(100% - 20px);
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    padding: 10px 0;
    border-radius: 8px;
    transition: all .6s;
}
input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    padding: 10px;
}

.api-table td{
    border: 1px solid #ddd;
    padding: 5px 10px;
    color: #424242;
}
.api-table th {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
}
.api-table {
    border-collapse: collapse;
}
#content a {
    text-decoration: none;
    color: #337ab7;
}
#content a:hover {
    text-decoration: underline;
}
pre{
    margin: 0;
}